input:focus,
textarea:focus {
  border: purple 2px solid;
}

input:invalid,
select:invalid,
textarea:invalid {
  border: red 2px solid;
}

input:valid,
select:valid,
textarea:valid {
  border: green 2px solid;
}

button:hover {
  background-color: orange;
}

.radio-group input[type="radio"]:checked {
  border: pink 2px solid;
  background-color: beige;
  box-shadow: 10px 15px 5px 30px rgba(0, 0, 0, 0.9);
}

.radio-group input[type="radio"]:checked + label{
  color: gray;
}

input:first-of-type {
  font-weight: bold;
}