.blog-post-card {
  background-color: white;
  border-radius: 2px;
  width: 50%;
  text-align: center;
}

.post-img {
  width: 100%;
  border-bottom: 5px;
}

.post-content {
  padding: 5px;
}

.post-title .post-excerpt {
  color: orange;
  margin: 10px;
}