body {
  background-color: #f4f4f4;
}

.color-box {
  width: 500px;
  height: 100px;
}

.color1 {
  background-color: #445566;
}
.color2 {
  background-color: rgb(41, 141, 241);
}
.color3 {
  background-color: orange;
}
.color4 {
  background-color: hsl(17, 77%, 37%);
}
.color5 {
  background-color: mediumspringgreen;
}